.task {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  background-color: white;
  color: black;
}

.task-title-wrapper {
  position: relative;

  .delete-task {
    position: absolute;
    right: -4px;
    top: -4px;
    cursor: pointer;
  }
}
