.navbar-board-list-container {
  position: absolute;
  left: 10px;
  background: grey;
  top: 50px;
  overflow-y: auto;
  padding: 15px;
  z-index: 100;
  border-radius: 8px;
  width: 200px;

  .add-board {
    color: white;
    background-color: #C52233;
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
    margin-top: 10px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      background-color: #969696;
    }

    span {
      margin-left: 10px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    height: 400px;
  }

  .board {
    div {
      height: 84px;
      margin-bottom: 5px;
      padding: 8px;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      position: relative;
      min-height: 84px;

      &:hover:before {
        z-index: -1;
      }

      span,
      svg {
        position: relative;
        z-index: 5;
      }

      &:before {
        background: rgba(0, 0, 0, 0.15);
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 90;
        border-radius: 8px;
      }
    }
  }
}
