.theme-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  width: 104px;

  > div {
    flex: 0 0 32%;
    height: 28px;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
