.page-container {
  position: relative;
  background: url("../../images/auth-background-image.jpg") center center
    no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  color: white;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    opacity: 0.5;
    transition: all 1s;
    -webkit-transition: all 1s;
    pointer-events: none;
  }

  .login-input-container {
    position: relative;
    width: 35%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    z-index: 3;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .register-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
    }
  }
}
